:root{
    --primary-color:#CD3333;
    --secondary-color:#FFF9ED;
    --bg-color: #FEF8ED;
    --text-color: #2A435D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

/* global */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/* top navbar */
nav[class = "top"]{
    background-color: var(--primary-color);
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container-fluid{
    width: 90%;
    margin: auto;
}
.container-fluid .container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* contact lines sections */
.contact_line{
    color: #fff;
    font-weight: 700;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
}
.contact_line .fa-clock, .contact_line .fa-phone{
    color: #fff;
    font-size: 20px;
}
/* Search options */
.search{
    padding: 0px 10px;
    margin-bottom: 10px;
}
.search input{
    background-color: #fff;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}
.search input[type=submit]{
    color: #cd3333;
}
/* user account registration */
.d-flex{
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* register button */
.register{
    font-size: 20px;
    padding: 5px 10px;
    margin: 7px;
    border-radius: 10px;
    background-color: #fff;
}

.register a{
    color: #cd3333;
}
/* login */
.login {
    padding: 7px 20px;
    margin-left: 10px;
    background-color: #fff;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.login a{
    color: var(--primary-color);
}
.login:hover {
    background-color: #ce5353;
}
.user_name{
    margin: 0px 10px;
}



.navbars .active {
    background-color: #cd3333;
    padding: 3px 20px;
    border-radius: 20px;
}
.navbars .active a{
    color: #fff;
}
/* menu_navbar */
.menu_navbar{
    width: 100%;
    height: 130px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 5px 5px #888888;
    -moz-box-shadow: 0 5px 5px #888888;
    box-shadow: 0 5px 5px #888888;
}
.menu_navbar .container{
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.menu_navbar img{
    width: 100%;
}
/* logo */
.logo{
    width: 120px;
    margin-left: 30px;
}
.logo img{
    width: 80px;
}
.logo h2{
    margin-top: -20px;
}
/* navigational button */
.navbars{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
}
.navbars li a{
    color: #2A435D;
    font-weight: 800;
}
/* cart section */
.cart-container {
    padding: 10px 30px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    /* box-shadow: rgba(174, 173, 173, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}

.cart-container a {
    color: var(--primary-color);
}

.cart-container:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    /* box-shadow: rgba(176, 176, 176, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.3s ease-in-out; */
}

.cart-container .nav-item {
    font-size: 22px;
    position: relative;

}

#count {
    font-size: 20px;
    position: absolute;
    top: -11px;
    right: -11px;
}
/* delivery */
.delivery{
    width: 150px;
    padding: 0px 5px;
    display: flex;
    color: #2A435D;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* showcase */
.showcase{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: black;
}
.showcase .text{
    width:800px;
    text-align: center;
}
.text h4{
    width: 65%;
    margin: auto;
    text-align: left;
    font-size: 28px;
    font-weight: 800;
    font-style: italic;
    color: #CD3333;
    text-transform: capitalize;
    font-weight: 400;
}
.text h1{
    font-size: 60px;
    font-style: italic;
    width: 100%;
    margin: auto;
    margin-left: 150px;
    text-align: left;
}
.text .btn{
    width: 60%;
    margin: auto;
    margin-top: 60px;
    margin-left: 300px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text .order{
    padding: 20px 45px;
    background-color: #CD3333;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.text .order:hover{
    background-color: #df6868;
    cursor: pointer;
}
.text .price{
    font-size: 30px;
    
}
.text .social_media_icon ul{
    width: 20%;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.social_media_icon li a{
    color: #CD3333;
}
.showcase .food_items{
    width:400px;
    text-align: center;
}
.showcase img{
    width: 400px;
    height: 280px;
}
/* sliding images */
.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}



/* popular food */
.popular_dish_container{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}
.popular_dish_container .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.popular_dish h1{
    color: #CD3333;
}
.images li{
    /* background-image: url('system/images/bg/plainBG.jpg'); */
    background-color: #ccc;
    width: 200px;
    border-radius: 5px ;
    overflow: hidden;
}
.images img{
    width: 200px;
    height: 150px;
    transition: 0.5s ease-in-out;
}
.images img:hover{
    width: 220px;
    margin-left: -20px;
    margin-right: -20px;
}
.images .food_btns{
    width: 200px;
    height: 60px;
    padding-top: 20px;
}
.images .food_btns .btn{
    padding: 19px 10px;
    margin-top: 12px;
    border-radius: 3px;
    font-weight: 700;
    background-color: #cd3333;
    color: #fff;
}
.images .food_btns .btn.btn-secondary{
    background-color: #fff;
    color:#CD3333;
}
/* message */
.message_header{
    font-size: 20px;
    font-weight: 800;
    color: #2A435D;
}



/* info container */
.info_container{
    width: 95%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.info_container .image{
    width: 30%;
    height: 550px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}
.info_container .image img{
    width: 100%;
    height: 550px;
    transition: 0.5s ease-in-out;
}
.info_container .image img:hover{
    margin-left: -10px;
    width: 110%;
    height: 560px;
}
.info_container .info{
    text-align: left;
    padding-left: 30px;
    width: 70%;
    overflow: hidden;
}
.info_container .info h1{
    color: #CD3333;
    width: 100%;
    margin: 30px 0px;
    font-size: 50px;
}
.info_container .info p{
    font-size: 26px;
    margin: 0px 0px 50px 0px;
    color: #2A435D;

}
.info_container .info img {
    width: 100%;
    overflow: hidden;
}
.info_container .d-flex {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.info_container .d-flex .list{
    width: 50%;
    font-size: 25px;
}
.list div{
    width: 100%;
    text-align: left;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.list h3{
    width: 50%;
    margin: 10px auto
    10px 60px;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: #cd3333;
    color: white;
    cursor: pointer;
}
.list div .fa-star{
    justify-content: flex-start;
    color:#cd3333;
}
.info_container .d-flex .list p{
    font-size: 20px;
}
.info_container .d-flex .d-flex-image{
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
}
/* info and ratings */
.rate_header{
    color: var(--primary-color);
    margin: 40px 0px 20px 0px;
}
.wrapper{
    width: 80%;
    margin: auto;
    text-align: center;
}
.wrapper .wrapper_content{
    width: 100%;
    margin: auto;
    padding-left: 80px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}
.info_cart{
    width: 300px;
    height: 200px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
.info_cart img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.info_cart .image{
    width: 60px;
    margin:auto;
    position: relative;
}
.info_cart .image h4{
    width: 40px;
    height:40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    position: absolute;
    top: -20px;
    right: -20px;
}
.info_cart p{
    text-align: left;
}
.info_cart h2{
    justify-content: flex-end;
    width: 130px;
    margin: auto 5px auto auto;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px;
    color: #fff;
    background-color: var(--primary-color);
}
.info_cart:nth-child(2){
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.info_cart:nth-child(2) h2{
    background-color: #fff;
    color: var(--primary-color);
}
.info_cart:nth-child(2) h4{
    background-color: #fff;
    color: var(--primary-color);
}

/* info */
.page-header {
    margin-top: 30px;
    text-align: center;
}

.page-header h3 {
    text-transform: uppercase;
    color: var(--primary-color);
}

.page-header h1 {
    color: var(--text-color);
    font-weight: 700;
}

.page-header p {
    color: var(--text-color);
    font-size: 18px;
}

.tabs {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTabs {
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menuTabs li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    height: 50px;
    border-right: 2px solid #a4a2a2;
    color: var(--primary-color);
}

.menuTabs li:last-child {
    border-right: none;
}

.active {
    background-color: var(--primary-color);
    color: #fff;
}

.main_menu_wrapper {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main_menu_wrapper .banner,
.main_menu_wrapper .menu_list {
    width: 500px;
}
.main_menu_wrapper .banner{
    height: 600px;
    margin-top: 40px;
}
.main_menu_wrapper .banner img {
    width: 499px;
    height: 590px;
}

.menu_list {
    margin-left: 30px;
}

.menu_list li {
    margin-top: 10px;
    padding-top: 10px;
    line-height: 1.5em;
    cursor: pointer;
}

.menu_list h3 {
    color: var(--primary-color);
}

.menu_list p {
    color: var(--text-color);
}

/* specail menu for all item */
.special_item_header {
    margin-top: 50px; 
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.special_menu {
    width: 100%;
    margin: auto;
}

.special_menu ul {
    font-size: 25px;
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.special_menu ul li {
    padding: 5px 0px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    width: 400px;
    overflow: hidden;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.special_menu ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -5px;
}

.special_menu ul li div div {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.special_menu ul li img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.special_menu ul li p {
    padding-bottom: 10px;
    text-align: center;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 18px 50px -10px;
}

/* review and testimonials */
.review_wrapper{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.review_wrapper h3{
    margin: 3px;
    color: var(--primary-color);
}
.review_wrapper ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review_wrapper ul li p{
    text-align: center;
}
.review_wrapper ul li:nth-child(2){
    background-color: var(--bg-color);
    box-shadow: none;
}
.review_wrapper ul li:nth-child(2){
    color: black;
}
.review_wrapper ul li:nth-child(2) h2{
    color: var(--bg-color);
}
.review_wrapper ul li h2{
    color: #fff;
    background-color: #fff;
}
.review_wrapper ul li .fa-certificate:nth-child(1),
.review_wrapper ul li .fa-certificate:nth-child(2),
.review_wrapper ul li .fa-certificate:nth-child(3),
.review_wrapper ul li .fa-certificate:nth-child(4){
    color: var(--primary-color);
}
.review_wrapper ul li .fa-certificate:last-child{
    background-color: rgb(83, 82, 82);
    border-color: 1px solid #cd3333;
}

/* last child(branch location) */
.branch_location{
    margin: 20px;
    color: var(--text-color);
    display: block;
    text-align: center;
}
body .location{
    width: 100%;
    height: 200px;
    background-color: var(--primary-color);
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.branch{
    text-align: center;
    width: 33.3%;
}
.branch ul{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.branch .fa-clock, .branch .fa-phone{
    font-size: 17px;
}
.branch a{
    color: rgb(2, 57, 2);
    font-weight: 800;
}

/* last child */
/* footer */
.footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--text-color);
    color: #fff;
}
.footer .social_media_icon ul {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.social_media_icon li a {
    color: #fff;
    font-size: 25px;
}



/* Media queries */

@media(max-width: 1225px){
    /* body{
        display: none;
    } */
    /* showcase */
        .showcase {
            width: 100%;
            margin: auto;
            margin-top: 20px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            color: black;
        }
    
        .showcase .text {
            width: 500px;
            padding-left: 20px;
            text-align: center;
        }
    
        .text h4 {
            width: 65%;
            margin: auto;
            text-align: left;
            font-size: 30px;
            font-weight: 800;
            font-style: italic;
            color: #CD3333;
            text-transform: capitalize;
            font-weight: 400;
        }
    
        .text h1 {
            font-size: 37px;
            font-style: italic;
            line-height: 1.7em;
            width: 100%;
            margin: auto;
            margin-left: 150px;
            text-align: left;
        }
    
        .text .btn {
            width: 80%;
            margin: auto;
            margin-top: 50px;
            margin-left: 230px;
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }
    
        .text .order {
            padding: 10px 20px;
            background-color: #CD3333;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            border-radius: 20px;
            transition: 0.3s ease-in-out;
        }
    
        .text .order:hover {
            background-color: #df6868;
            cursor: pointer;
        }
    
        .text .price {
            font-size: 25px;
    
        }
    
    /* sliding images */
        .showcase .food_items {
            width: 250px;
            text-align: center;
        }
    
        .showcase img {
            width: 250px;
            height: 280px;
            object-fit: contain;
        }

        /* search bar */
            /* Search */
            .search {
                width: 100%;
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 20px;
            }
    
            .search .search_container {
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: space-evenly;
            }
    
            .search .search_container input[type=search] {
                width: 250px;
                padding: 8px;
                border-radius: 10px;
                border: 2px solid #e16666;
                outline: none;
            }
    
            .search .search_container input[type=submit] {
                width: 70px;
                padding: 9px 5px;
                border-radius: 5px;
                border: none;
                color: #fff;
                background-color: var(--primary-color);
                    }
        /* info and ratings */
        .rate_header {
            color: var(--primary-color);
            margin: 40px 0px 20px 0px;
        }

        .wrapper {
            width: 80%;
            margin: auto;
            text-align: center;
        }

        .wrapper .wrapper_content {
            width: 100%;
            margin: auto;
            padding-left: 60px;
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            align-items: center;
            justify-self: center;
        }

        .info_cart {
            width: 280px;
            height: 200px;
            padding: 5px 15px;
            display: flex;
            flex-direction: column;
        }

        .info_cart img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .info_cart .image {
            width: 40px;
            margin: auto;
            position: relative;
        }

        .info_cart .image h4 {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary-color);
            color: #fff;
            position: absolute;
            top: -20px;
            right: -20px;
        }

        .info_cart p {
            text-align: left;
        }

        .info_cart h2 {
            justify-content: flex-end;
            width: 110px;
            margin: auto 5px auto auto;
            font-size: 16px;
            border-radius: 10px;
            text-align: center;
            padding: 5px 15px;
            color: #fff;
            background-color: var(--primary-color);
        }

        .info_cart:nth-child(2) {
            background-color: var(--primary-color);
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        }

        .info_cart:nth-child(2) h2 {
            background-color: #fff;
            color: var(--primary-color);
        }

        .info_cart:nth-child(2) h4 {
            background-color: #fff;
            color: var(--primary-color);
        }
}